h1 {
    text-align: center;
    color:#008200;
    font-weight: 900;
}

#start-view {
    /* background-color:#cf82f3; */
    /* background-image: url("/assets/bg.png") */
}

.home-btns {
    display: flex !important;
    justify-content: center;
}

.view {
    width: 948px;
    margin-top: 137px;
    border: 2px solid black;
    display: none;
    height: 452px;
    background-color:#f7c1f1;
}

#flex-ui {
    max-height: 448px;
}

#playerTurn {
    text-align: center;
    color:rgb(33, 99, 241);
    font-size: large;
}

/* inspiration from https://github.com/david-reid/cwd-startscreen-session, #1b2e36 */
body {
    font-size:16px;
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction:column;
    align-items:center;
    /* background-color:#cf82f3;           background-color:#201e20; */ 
    font-family: Arial;
    background-image: url("assets/biggerPixelField.png");
}

#game-round {
    margin-top: 10px;
    height: 30px;
    text-align: right;
}

#status-message {
    height: 120px;
}

.col, .col-6 {
    max-height: 448px;
}

.unit {
    border: 2px solid black;
    height: 88px;
}

.unit-container {
    margin: 4px 0px;
}

#unit-customization {
    position: relative;
}

.plus-btn {
    display: inline;
}

.minus-btn {
    display: inline;
}

.lobby {
    width: 100%;
    height: 100%;
    position: relative;
}

.ready {
    bottom: 10px;
    right: 10px;
    position: absolute;  
}

.border-container {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}

.progress {
    position: relative;
}

.tenth-separator {
    height: 100%;
    width: 10%;
    border: 2px solid black;
    z-index: 100;
}

.progress-bar {
    z-index: 5;
}

.shake {
    animation: shaking 0.3s;
}

@keyframes shaking {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.unit-name {
    text-align: center;
}

#game-state {
    display: flex;
    justify-content: space-between;
}

#player-turn {
    margin-top: 10px;
    height: 30px;
}

#unit-check {
    bottom: 17px;
    right: 88px;
    position: absolute;
}

#add-ai-btn {
    bottom: 10px;
    left: 10px;
    position: absolute;  
}

#remove-ai-btn {
    bottom: 10px;
    left: 88px;
    position: absolute;
}